RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^trunk/(build|src|test|short)/testsuite/(.*\.xml)$									testsuite/$2
RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^((.*)/)*(.*)\.xml$																	trunk/src/put.php?name=%{REQUEST_FILENAME} [L,QSA]
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^((.*)/)*(.*)/$																		trunk/src/post.php?name=%{REQUEST_FILENAME} [L,QSA]
RewriteRule ^(.*)-engine/testsuite/(.*\.xhtml)$													txs/xforms.txs?engine=$1&file=testsuite/$2
RewriteRule ^(.*)-engine/testsuite/(.*)$														testsuite/$2 [L]
RewriteRule ^releases/(.*)/(.*)-transform/testsuite/(.*\.xhtml)$								txs/xforms.txs?transform=$2&file=testsuite/$3
RewriteRule ^releases/(.*)/(.*)-transform/testsuite/(.*\.css)$									txs/css.txs?file=testsuite/$3&referer=%{HTTP_REFERER}
RewriteRule ^releases/(.*)/(.*)-transform/testsuite/(.*)$										testsuite/$3 [L]
RewriteRule ^releases/(.*)/testsuite/(.*\.xhtml)$												txs/xforms.txs?file=testsuite/$2
RewriteRule ^releases/(.*)/testsuite/(.*\.css)$													txs/css.txs?file=testsuite/$2&referer=%{HTTP_REFERER}
RewriteRule ^releases/(.*)/testsuite/(.*)$														testsuite/$2 [L]
RewriteRule ^trunk/(build|src|test|short)/(.*)-transform/testsuite/(.*\.xhtml)$					txs/xforms.txs?transform=$2&file=testsuite/$3&requesturi=%{REQUEST_URI}&httphost=%{HTTP_HOST}
RewriteRule ^trunk/(build|src|test|short)/(.*)-transform/testsuite/(.*\.css)$					txs/css.txs?file=testsuite/$3&referer=%{HTTP_REFERER}
RewriteRule ^trunk/(build|src|test|short)/(.*)-transform/testsuite/(.*)$						testsuite/$3 [L]
RewriteRule ^trunk/(build|src|test|short)/testsuite/(.*\.xhtml)$								txs/xforms.txs?file=testsuite/$2
RewriteRule ^trunk/(build|src|test|short)/testsuite/(.*\.css)$									txs/css.txs?file=testsuite/$2&referer=%{HTTP_REFERER}
RewriteRule ^trunk/(build|src|test|short)/testsuite/(.*)$										testsuite/$2 [L]
#RewriteRule ^trunk/(build|src|test|short)/config\.xsl$   										txs/config.txs?dir=../trunk/$1&languages=%{HTTP:Accept-Language} [L]
RewriteRule ^trunk/(src|test)/config(_.*)?\.xsl$   												trunk/$1/config$2.xsl [L]
RewriteRule ^trunk/(src|test)/svg2xaml\.xsl$   													trunk/$1/svg2xaml.xsl [L]
RewriteRule ^branches/(.*)/(build|src|test|short)/(.*)-transform/testsuite/(.*\.xhtml)$			txs/xforms.txs?transform=$3&file=testsuite/$4&requesturi=%{REQUEST_URI}&httphost=%{HTTP_HOST}
RewriteRule ^branches/(.*)/(build|src|test|short)/(.*)-transform/testsuite/(.*\.css)$			txs/css.txs?file=testsuite/$4&referer=%{HTTP_REFERER}
RewriteRule ^branches/(.*)/(build|src|test|short)/(.*)-transform/testsuite/(.*)$				testsuite/$4 [L]
RewriteRule ^branches/(.*)/(build|src|test|short)/testsuite/(.*\.xhtml)$						txs/xforms.txs?file=testsuite/$3
RewriteRule ^branches/(.*)/(build|src|test|short)/testsuite/(.*\.css)$							txs/css.txs?file=testsuite/$3&referer=%{HTTP_REFERER}
RewriteRule ^branches/(.*)/(build|src|test|short)/testsuite/(.*)$								testsuite/$3 [L]
#RewriteRule ^branches/(.*)/(build|src|test|short)/config\.xsl$   								txs/config.txs?dir=../branches/$1/$2&languages=%{HTTP:Accept-Language} [L]
RewriteRule ^branches/(.*)/(src|test)/config(_.*)?\.xsl$   										branches/$1/$2/config$3.xsl [L]
RewriteRule ^branches/(.*)/(src|test)/svg2xaml\.xsl$   											branches/$1/$2/svg2xaml.xsl [L]
RewriteCond %{QUERY_STRING}																		.+
RewriteRule ^(.*-transform/)?trunk/(src|test)/(.*\.(js|css|xsl))$								txs/txs.php?exec=%{QUERY_STRING}.txs&file=../trunk/$2/$3 [L]
RewriteRule ^(.*-transform/)?trunk/(src|test)/(.*\.(js|css|xsl))$   							txs/txs.php?exec=cm.txs&file=../trunk/$2/$3 [L]
RewriteRule ^(.*-transform/)?trunk/(.*)$   														trunk/$2 [L]
RewriteCond %{QUERY_STRING}																		.+
RewriteRule ^(.*-transform/)?branches/(.*)/(src|test)/(.*\.(js|css|xsl))$						txs/txs.php?exec=%{QUERY_STRING}.txs&file=../branches/$2/$3/$4 [L]
RewriteRule ^(.*-transform/)?branches/(.*)/(src|test)/(.*\.(js|css|xsl))$   					txs/txs.php?exec=cm.txs&file=../branches/$2/$3/$4 [L]
RewriteRule ^(.*-transform/)?branches/(.*)/(.*)$   												branches/$2/$3 [L]
RewriteRule ^txs/(.*\.txs)																		txs/txs.php?exec=$1 [QSA,L]

RewriteRule (build|src|test|short)/testsuite/(.*\.xml)$											testsuite/$2
RewriteRule (build|src|test|short)/(.*)-transform/testsuite/(.*\.xhtml)$						txs/xforms.txs?transform=$2&file=testsuite/$3&requesturi=%{REQUEST_URI}&httphost=%{HTTP_HOST}
RewriteRule (build|src|test|short)/(.*)-transform/testsuite/(.*\.css)$							txs/css.txs?file=testsuite/$3&referer=%{HTTP_REFERER}
RewriteRule (build|src|test|short)/(.*)-transform/testsuite/(.*)$								testsuite/$3 [L]
#RewriteRule (build|src|test|short)/config\.xsl$   												txs/config.txs?dir=../$1&languages=%{HTTP:Accept-Language} [L]
RewriteRule (src|test)/config(_.*)?\.xsl$   													$1/config$2.xsl [L]
RewriteRule (src|test)/svg2xaml\.xsl$   														$1/svg2xaml.xsl [L]
RewriteRule (build|src|test|short)/testsuite/(.*\.xhtml)$										txs/xforms.txs?file=testsuite/$2
RewriteRule (build|src|test|short)/testsuite/(.*\.css)$											txs/css.txs?file=testsuite/$2&referer=%{HTTP_REFERER}
RewriteRule (build|src|test|short)/testsuite/(.*)$												testsuite/$2 [L]
RewriteCond %{QUERY_STRING}																		.+
RewriteRule ^(.*-transform/)?(src|test)/(.*\.(js|css|xsl))$										txs/txs.php?exec=%{QUERY_STRING}.txs&file=../$2/$3 [L]
RewriteRule ^(.*-transform/)?(src|test)/(.*\.(js|css|xsl))$   									txs/txs.php?exec=cm.txs&file=../$2/$3 [L]
RewriteRule ^(.*-transform/)?(.*)$   															$2 [L]

